<% #= debug @tweets %>

<section class="gallery">
<ul class="tweets">

<% 
counter = 0
images_per_page = 24
last_id = ''
%>

<% @tweets.each do |tweet|

tweet_media = tweet.attrs[:entities][:media]

	if counter < images_per_page

		if tweet_media != nil
			id_str = tweet.attrs[:id].to_s
			blacklisted = blacklisted_tweet_ids(id_str)
			time_added = Time.parse(tweet.attrs[:created_at])
			
			if time_added < (Time.now - 12.hours)
			
				if blacklisted != true

				# we can show the tweet! it has media and isn't blacklisted :)
				# increment the counter
				counter += 1

				image_path = tweet_media.first[:media_url]
				tweet_id = tweet.attrs[:id].to_s
				status_link = "https://twitter.com/Cmdr_Hadfield/status/" + tweet_id
				
				ago = distance_of_time_in_words(time_added, Time.now)
					
%>

<li>
	<a href="<%= status_link %>" target="_blank">
		<div class="aspectwrapper">
		<div class="tweet_media" style="background:url('<%= image_path %>') no-repeat; background-position: -2px -2px; background-size: 101% 101%;">
			<div class="tweet">
				<p><%= tweet.attrs[:user][:name] %>:<br />
					<%= tweet.attrs[:text] %><br />
				<span class="dated"><%= ago %> ago</span></p>
			
				<!--<br />
				ID: <%= tweet.attrs[:id].to_s %><br />
				Retweets: <%= tweet.attrs[:retweet_count] %><br />
				Favourited: <%= tweet.attrs[:favorite_count] %> times<br/>
				Dated: <%= tweet.attrs[:created_at] %><br/>--> 
	
			</div>
		</div>
		</div>
	</a>
</li>

				<% end %>
			<% end %>
		<% end %>
	<% end

	if counter == images_per_page
		last_id = tweet.attrs[:id].to_s
		break
	end

	%>
<% end %>
</ul>
</section>

<section class="pagination">
<p><%= link_to('◀ Previous ' + images_per_page.to_s + ' photos', root_path + 'from/' + last_id) %></p>
</section>

