<% #= debug @tweets %>

<section class="gallery">
<ul class="tweets">

<% 
counter = 0
images_per_page = 30
last_id = ''
%>

<% @tweets.each do |tweet|

tweet_media = tweet.attrs[:entities][:media]

	if counter < images_per_page

		if tweet_media != nil
			id_str = tweet.attrs[:id].to_s
			blacklisted = blacklisted_tweet_ids(id_str)
			time_added = Time.parse(tweet.attrs[:created_at])
			tweet_text = tweet.attrs[:text]
			wait_time = ENV["HOURS_GRACE"].to_i
			
			if time_added < (Time.now - wait_time.hours)
			
				if blacklisted != true

				# we can show the tweet! it has media and isn't blacklisted :)
				# increment the counter
				counter += 1

				image_path = tweet_media.first[:media_url]
				image_w = tweet_media.first[:sizes][:medium][:w].to_i
				image_h = tweet_media.first[:sizes][:medium][:h].to_i
				image_path_large = image_path  + ":large"

				tweet_id = tweet.attrs[:id].to_s
				user_link = "https://twitter.com/" + tweet.attrs[:user][:screen_name]
				status_link = user_link + "/status/" + tweet_id
				
				ago = distance_of_time_in_words(time_added, Time.now)
					
%>

<li class="gallery-item">
<div class="inner">
<img src="<%= image_path %>" />
<a href="<%= status_link %>"><img src="<%= tweet.attrs[:user][:profile_image_url] %>" alt="<%= tweet.attrs[:user][:name] + ' (@' + tweet.attrs[:user][:screen_name] + ')' %>" title="<%= tweet.attrs[:user][:name] + ' (@' + tweet.attrs[:user][:screen_name] + ')' %>" width="48" height="48" class="profile_pic" /></a>
<p><%= find_and_remove_url(tweet_text).html_safe %><br />
<span class="dated"><a href="<%= status_link %>"><%= ago %> ago</a></span> <!-- <a href="<%= image_path_large %>">+</a> --></p>
<!-- 
Retweets: <%= tweet.attrs[:retweet_count] %><br />
Favourited: <%= tweet.attrs[:favorite_count] %> times<br/> 
-->
</div>
</li>

				<% end %>
			<% end %>
		<% end %>
	<% end

	if counter == images_per_page
		last_id = tweet.attrs[:id].to_s
		break

	else
		last_id = tweet.attrs[:id].to_s
	end

	%>
<% end %>
</ul>
</section>

<section class="pagination">
<p><%= link_to('â† Older photos', root_path + 'from/' + last_id) %></p>
</section>

