
<h2>
The ISS orbits the Earth <span class="orbits-per-day"><%= orbits_per_day.ceil %> times a day</span> and travels at a whopping <span class="speed"><%= number_with_delimiter(kilometres_per_hour.ceil) %> km/h</span>.</h2>

<p>At an altitude of <%= orbit_altitude_in_kilometres %>km, it takes <%= orbit_duration_hours_and_minutes %> to make a full orbit of <%= number_with_delimiter(orbit_distance_in_kilometres.ceil) %> km
</p>

<section id="iss-video">
	<iframe src="http://player.vimeo.com/video/61487989?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" width="702" height="395" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

<h3>Time Lapse Earth</h3>
<p>Watch this fantastic time-lapse for a new perspective on Earth. The video uses sequences put together by ISS astronauts and was edited by the talented <a href="https://vimeo.com/user4259037">Bruce W. Berry Jr</a>.</p>

<% #= image_tag('iss.jpg', :class => "the-iss") %>


<!-- <iframe width="640" height="360" src="http://www.youtube.com/embed/FG0fTKAqZ5g?rel=0" frameborder="0" allowfullscreen></iframe>
<p><%= link_to('All Alone in the Night - Time-lapse footage of the Earth as seen from the ISS','http://www.youtube.com/watch?v=FG0fTKAqZ5g&feature=youtu.be') %></p> -->

<!-- <h1>Links</h1>
<p><%= link_to('Reddit AMA','http://www.reddit.com/r/IAmA/comments/18pik4/i_am_astronaut_chris_hadfield_currently_orbiting/') %></p>
<p><%= link_to('Current position of the ISS','http://iss.astroviewer.net/') %></p>

<h1>Reddit AMA Highlights</h1>

<dl>
<dt>What time zone do you live by? Do you switch off the lights at "night"?</dt>
<dd>We live on Greenwich time, UTC, same as London England. We shut of most lights at bedtime - it feels right to do it.</dd>

<dt>You mentioned on Twitter that the ISS is peppered with meteors but has armour. Do you hear them hit? What about things like the solar panels? They look delicate.</dt>
<dd>Sometimes we hear pings as tiny rocks hit our spaceship, and also the creaks and snaps of expanding metal as we go in and out of sunlight. The solar panels are full of tiny holes from the micro-meteorites.</dd>

<dt>What does space smell like? Is your sense of smell altered at all being up there?</dt>
<dd>The vacuum of space has no smell, but when we come in from a spacewalk the airlock smells like ozone, or gunpowder. It likely comes from the gentle offgassing of the outer metal and fabric of our suits.</dd>

<dt>What is the scariest thing you have seen whilst in space?</dt>
<dd>I watched a large meteorite burn up between me and Australia, and to think of that hypersonic dumb lump of rock randomly hurtling into us instead sent a shiver up my back.<dd>

<dt>How hard is to sleep out there in space?</dt>
<dd>I love sleeping weightless. No mattress, no pillow, no sore shoulder, no hot spots. Just relax every muscle in your body and drift off to sleep.</dd>

<dt>What is the biggest danger you face while living in space?</dt>
<dd>The biggest danger is launch - all that power and acceleration. Once we survive that, it's just a steady threat of radiation, meteorite impacts, and vehicle system failure like fire or ammonia breakthrough.</dd>

<dt>What's your favourite space food?</dt>
<dd>I have a new one - lemon curd cake. A sin to eat, but we're short on sin up here, so I think it's OK.</dd>

<dt>What sort of camera do you use? </dt>
<dd>We use Nikon D2 and D3 SLR cameras with lenses from 400mm to fish-eye</dd>

<dt>What is the prettiest thing to look at from space?</dt>
<dd>The aurora - Northern and Southern lights. A fantastic continuous light show as we swing north and south, just shimmering and dancing there, demanding to be stared at.</dd>

</dl> -->