<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>The View From Above</title>

<!--
▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ 

  Site by — 
  Guy Moorhouse
  http://futurefabric.co.uk
  @Futurefabric
  2013

▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪ ▪  
 -->

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "vendor/custom.modernizr" %>
<%= csrf_meta_tags %>
</head>

<body class="<%= @body_class %>">

<div id="canvas"></div>

<nav>
<ul>
<li><%= link_to('The View', root_path, :class => is_current?("home")) %></li>
<li><%= link_to('About', root_path + 'about', :class => is_current?("about")) %></li>
<li><%= link_to('The ISS', root_path + 'references', :class => is_current?("references")) %></li>
</ul>
</nav>

<h1><%= link_to('The View from Above', root_path) %></h1>

<%= yield %>

<footer>
<p>A hack by <%= link_to('@Futurefabric', 'http://twitter.com/Futurefabric') %>
</footer>

<%= javascript_include_tag "application" %>
</body>
</html>